openai
langchain
streamlit
huggingface-hub
langchain_openai
langchain_core
python-dotenv
langchain_community
langchain-ollama
langserve
fastapi
uvicorn
sse_starlette
pypdf
docx2txt
langchain-google-genai
beautifulsoup4
playwright
unstructured
chromadb
faiss-cpu
wikipedia
arxiv